.color-box{
    width: 35px;
    height: 35px;
}

.bg-red{
   background-color: red; 
}

.bg-blue{
    background-color: blue;
}

.bg-magenta{
    background-color: magenta;
}

.bg-green{
    background-color: green;
}

.bg-bordo{
    background-color: darkred;
}

.bg-orange{
    background-color: orange;
}

.color-box:hover{
    cursor: pointer;
}

.color-box-selected{
    border-color: aquamarine;
    border-radius: 50px;
}